<!doctype html>
<html>
<head>
  <title>LingoBattle</title>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="/lib/three.min.js"></script>
  <script src="/js/WordsFight.js"></script>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/loader.css">
  <script>


  function initialStart() {
    el = document.getElementById('modal-2');
    el.classList.add('md-show');
    toggle_visibility();
  }
  function toLanguage() {
    el = document.getElementById('modal-2');
    userName = document.getElementById('userName').value;
    if(typeof(Storage) !== "undefined") {
      if(userName != undefined) {
        sessionStorage.username = userName;
      } else {
        sessionStorage.username = "Default";
      }
    }
    el.classList.remove("md-show");
    el = document.getElementById('modal-3');
    el.classList.add('md-show');
  }
  function toDifficulty() {
    from = document.getElementById('languageFrom').value;
    to = document.getElementById('languageTo').value;
    if(typeof(Storage) !== "undefined") {
      sessionStorage.LanguageFrom = from;
      sessionStorage.LanguageTo = to;
    }
    el = document.getElementById('modal-3');
    el.classList.remove("md-show");
    el = document.getElementById('modal-4');
    el.classList.add('md-show');
  }
  function toSearch(val) {
    if(typeof(Storage) !== "undefined") {
      sessionStorage.difficulty = val;
    }
    el = document.getElementById('modal-4');
    el.classList.remove("md-show");
    el = document.getElementById('modal-5');
    el.classList.add('md-show');
  }

  function toLoading() {
    check = document.getElementById('search').value;
    check.trim();
    if(check){
      el = document.getElementById('modal-5');
      el.classList.remove("md-show");
      el1 = document.getElementById('modal-6');
      el1.classList.remove("loading");
      el1.classList.add("md-show");
      fetch();
    }
  }

  function closeUsername() {
    el1 = document.getElementById('modal-2');
    el1.classList.remove("md-show");
    toggle_visibility();
  }
  function closeLanguage() {
    el1 = document.getElementById('modal-3');
    el1.classList.remove("md-show");
    toggle_visibility();
  }

  function closeDifficulty() {
    el1 = document.getElementById('modal-4');
    el1.classList.remove("md-show");
    toggle_visibility();
  }

  function closeSearch() {
    el1 = document.getElementById('modal-5');
    el1.classList.remove("md-show");
    toggle_visibility();
  }

  function toggle_visibility() {
    var el = document.getElementById('header');
    var el1 = document.getElementById('rules');
    if(el.style.display == 'none'){
      el.style.display = 'block';
      el1.style.display = 'block';
    }else {
      el.style.display = 'none';
      el1.style.display = 'none';
    }
  }
  function gameOver(progress) {
    el = document.getElementById('modal-7');
    el.classList.add('md-show');
    document.getElementById('scoreLost').innerHTML = "Your score: " + progress.score;
  }
  function levelComplete(progress) {
    el = document.getElementById('modal-8');
    el.classList.add('md-show');
    document.getElementById('scoreWin').innerHTML = "Your score: " + progress.score;
  }
  function playAgainLost() {
    el = document.getElementById('modal-7');
    el.classList.remove('md-show');
    gp.container.remove();
    gp.destroy();
    gp = null;
    var elem = document.getElementById('hp');
    elem.style.width = "100%";
    document.getElementById('hp').innerHTML = "";
    document.getElementById('score').innerHTML = "";
    var el2 = document.getElementById('game');
    el2.classList.add("hiddenBar");
    toDifficulty();
  }
  function playAgainWin() {
    el = document.getElementById('modal-8');
    el.classList.remove('md-show');
    gp.container.remove();
    gp.destroy();
    gp = null;
    var elem = document.getElementById('hp');
    elem.style.width = "100%";
    document.getElementById('hp').innerHTML = "";
    document.getElementById('score').innerHTML = "";
    var el2 = document.getElementById('game');
    el2.classList.add("hiddenBar");
    toDifficulty();
  }
  var gp;
  function changeProgress(progress){
    var elem = document.getElementById('hp');
    var temp = Math.round(progress.hp / progress.hpTotal * 100) + "%";
    elem.style.width = temp;
    elem.innerHTML = temp;



document.getElementById('score').innerHTML = "Score: " + progress.score;
  }
  function startGame(progress) {
    var elem = document.getElementById('hp');
    var temp = Math.round(progress.hp / progress.hpTotal * 100) + "%";
    elem.style.width = temp;
    document.getElementById('hp').innerHTML = temp;
    document.getElementById('score').innerHTML = "Score: " + progress.score;
  }
  function fetch() {
    //console.log("fetch");
    var httpRequest = new XMLHttpRequest();
    //var k = document.getElementById("key").value;
    var k = document.getElementById('search').value;
    var f = false;
    httpRequest.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        //console.log("returned");
        //console.log( httpRequest.responseText );
        if(!f && httpRequest.responseText) {
          el1 = document.getElementById('modal-6');
          el1.classList.add("loading");
          el1.classList.remove("md-show");
          var el2 = document.getElementById('game');
          el2.classList.remove("hiddenBar");
          var settings = {
            onLevelStart: startGame,
            onProgressChange: changeProgress,
            onLevelComplete: levelComplete,
            onGameOver: gameOver,
            difficultyLevel: sessionStorage.difficulty,
            playerName: sessionStorage.username,
            wordsPairs: JSON.parse(httpRequest.responseText).pairs
          };
          gp = new GamePlay(settings);
          //document.getElementById('game').classList.add('md-show');
          document.body.appendChild(gp.container);
          //document.getElementById('game').classList.remove('gameHidden');
          f = true;
        }
      }
    };
    httpRequest.open('GET', "http://45.55.43.203:3000/results?key=" + k + "&from=" + sessionStorage.LanguageFrom + "&to=" + sessionStorage.LanguageFrom, true);
    httpRequest.send(null);
  }

  </script>
</head>
<body>
  {{{body}}}
</body>
</html>
