<div id="header">
  <h1>Lingo Battle</h1>
  <button onclick="initialStart()" id="play" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
  Play Now
  </button>
</div>

<div id="rules">
  <ul>
    <li><h4>Use +/- keys to adjust the attack field</h4></li>
    <li><h4>UP, RIGHT, DOWN, LEFT moves the character</h4></li>
    <li><h4>Move character to let the bots enter the attack field</h4></li>
    <li><h2>!!! Shoot them ALL !!!</h2></li>
  <ul>
</div>

<!-- START OF MODALS! -->
<div class="md-modal md-effect-2" id="modal-2">
  <div class="md-content">
    <h3>Username</h3>
    <div>
      <input type="text" name="userName" id="userName" placeholder="Enter your username..">
      <button class="mdl-button mdl-js-button mdl-button--primary" onclick="closeUsername()" id="close">
      Close
      </button>
      <button onclick="toLanguage()" id="username-next" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Next
      </button>
    </div>
  </div>
</div>

<script>

document.getElementById('userName').onkeyup = function (e) {
  var code = e.keyCode ? e.keyCode : e.which;
  if (code === 13) {
    toLanguage();
  }
};
</script>

<div class="md-modal md-effect-2" id="modal-3">
  <div class="md-content">
    <h3>Language</h3>
    <div>
      <p>From:</p>
      <select class="dropdown" id="languageFrom">
        <option value="eng">English</option>
        <option selected value="fra">French</option>
        <option value="zh">Chinese</option>
        <option value="spa">Spanish</option>
        <option value="ukr">Ukrainian</option>
        <option value="hin">Hindi</option>
        <option value="rus">Russian</option>
      </select>
      <p>To:</p>
      <select class="dropdown" id="languageTo">
        <option selected value="eng">English</option>
        <option value="fra">French</option>
        <option value="chi">Chinese</option>
        <option value="spa">Spanish</option>
        <option value="ukr">Ukrainian</option>
        <option value="hin">Hindi</option>
        <option value="rus">Russian</option>
      </select>
      <button class="mdl-button mdl-js-button mdl-button--primary" onclick="closeLanguage()" id="close">
      Close
      </button>
      <button onclick="toDifficulty()" id="username-next" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Next
      </button>
    </div>
  </div>
</div>

<div class="md-modal md-effect-2" id="modal-4">
  <div class="md-content">
    <h3>Difficulty</h3>
    <div>
      <button onclick="toSearch(0);" id="username-diff" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Easy
      </button>
      <button onclick="toSearch(1);" id="username-diff" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Normal
      </button>
      <button onclick="toSearch(2);" id="username-diff" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Hard
      </button>
      <button class="mdl-button mdl-js-button mdl-button--primary" onclick="closeDifficulty()" id="closeDiff">
      Close
      </button>
    </div>
  </div>
</div>


<div class="md-modal md-effect-2" id="modal-5">
  <div class="md-content">
    <h3>Search</h3>
    <div>
      <input type="text" name="search" id="search" placeholder="Keywords e.g. mechanics">
      <button class="mdl-button mdl-js-button mdl-button--primary" onclick="closeSearch()" id="close">
      Close
      </button>
      <button onclick="toLoading()" id="username-next" data-modal="modal-2" class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Next
      </button>
    </div>
  </div>
</div>

<script>
document.getElementById('search').onkeyup = function (e) {
  var code = e.keyCode ? e.keyCode : e.which;
  if (code === 13) { //up key
    toLoading();
  }
};
</script>

<div class="md-modal md-effect-2" id="modal-6">
  <div class="md-content">
    <h3>Loading..</h3>
    <div>
      <div class="loader">Loading...</div>
    </div>
  </div>
</div>

<div class="md-modal md-effect-2" id="modal-7">
  <div class="md-content">
    <h3>You Lost..</h3>
    <p id="scoreLost">Score:</p>
    <div>
      <button class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="playAgainLost()" id="playAgain">
      Play Again
      </button>
    </div>
  </div>
</div>

<div class="md-modal md-effect-2" id="modal-8">
  <div class="md-content">
    <h3>Congratulations!</h3>
    <p class="scoreWin">You are the winner!</p>
    <p class="scoreWin" id="scoreWin"></p>
    <div>
      <button class="md-trigger mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="playAgainWin()" id="playAgain">
      Play Again
      </button>
    </div>
  </div>
</div>


<div class="md-overlay"></div>
<!-- END OF MODALS -->

<div class="game hiddenBar" id="game">
  <h6 id="score"></h6>
  <div class="wrapper">
    <div id="hp"></div>
  </div>
  <br/>
  <p>Use '+' and '-' to change the radius around you!</p>
</div>

<script>
function hasClass(el, name) {
   return new RegExp('(\\s|^)'+name+'(\\s|$)').test(el.className);
}
document.onkeyup = function(e) {
  var code = e.keyCode ? e.keyCode : e.which;
  if (code === 27) {
    el1 = document.getElementById('modal-2');
    el2 = document.getElementById('modal-3');
    el3 = document.getElementById('modal-4');
    el4 = document.getElementById('modal-5');
    if(hasClass(el1, "md-show")) {
      el1.classList.remove('md-show');
      toggle_visibility();
    } else if (hasClass(el2, "md-show")) {
        el2.classList.remove('md-show');
        toggle_visibility();
    } else if (hasClass(el3, "md-show")) {
        el3.classList.remove('md-show');
        toggle_visibility();
    } else if(hasClass(el4, "md-show")) {
        el4.classList.remove('md-show');
        toggle_visibility();
    } else if(hasClass(el5, "md-show")) {
        el4.classList.remove('md-show');
        toggle_visibility();
    }
  }
}
</script>
